* {
    font-family: "Roboto";
}
body{
    background-color: rgb(44, 54, 53);
}
.godown{
    color:white text-shadow: 20cap; font-family: sans-serif; text-align: end;
}
nav {
    display: inline; font-size: large; font-family:Arial, Helvetica, sans-serif; color: crimson; word-spacing: 10px;align-items: end; }
h2 {
    color: yellow; text-align: start; text-decoration: underline;
}
h3 {
    color: rgb(149, 152, 189); 
}
p {
    border: 5cm; color:whitesmoke; font-size: large;
}
.forms {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: oblique; font-size: medium;
}
a:link { color: whitesmoke;
}
a:visited {
    color: black
}
a:hover {
    color: tomato;
}
#img {
    border-radius: 50px; 
}
footer {
    color: beige; background-color: gray;
}
header {
    background-color: gray;
}
#click {
    font-size: large; text-decoration: solid; font-family: Georgia, 'Times New Roman', Times, serif; background-color: aqua;
}